
#divTop {
    width:100%;
    height:80px;
    text-align:center;
	background:#f9dabb;
	color:#000000;
    
}

#divBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background:#f9dabb;
}
#divCenter {
    position: fixed;
    top: 80px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: auto;
    background:#3c8287;
}

#divTopLeft {
	height:100%;
    float:left;
}

#divTopCenter {
	height:100%;
    overflow: hidden;
    text-align:center;
    font-size:50px;
    font-weight:bold;
    
}

#divTopRight {
	height:100%;
	line-height: 80px;
    float:right;
    width:250px;
    text-align:center;
    vertical-align: middle;
}

#logo {
	padding:10px;
    max-width: 100%;
    max-height: 100%;
    height:60px;
    background-color: transparent;
}

#divTimeSpan {
  margin:10 20 10 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
  padding:10px;
}

#spanDate {
  	font-size:20px;
  	font-weight:bold;
}
#spanTime {
  	font-size:25px;
  	font-weight:bold;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table>tbody>tr>td {
	font-size: 30px;
	background-color: #3c8287;
	color: #ffffff;
}

.table>thead>tr>th {
	font-size: 35px;
	background-color:#31696d;
    color:#ffde55;
}

.status{
	 width: 40px;
     height: 40px;
}

#divBottomMsg
{
    display:block;
    position:absolute;
    right:0;
    white-space: nowrap;
  	overflow: hidden;
  	font-size:20px;
  	color:red;
}

#divVideo{
  height:0px;
  width:100%;
  position: fixed;
  bottom: 0;
  background:#000000;
}