@font-face {
    font-family: "Tipitaka";
    src: url(../fonts/tipitaka.ttf) format("truetype");
}

@font-face {
    font-family: "Signika";
    src: url(../fonts/Signika-Regular.ttf) format("truetype");
}



body {
    font-family: sans-serif,Helvetica,Arial,;
}

table{
  font-family:'Signika';
}



.table-header{
	font-size: 50px;
  text-align: center;
}

.table th {
  text-align: center;
}

.table-body{
	font-size: 30px;
  text-align: center;
}

#divTop {
    width:100%;
    height:80px;
    text-align:center;
/*     background:#fdffcf; */
background:#f9dabb;
color:#000000;
    
}

#divBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background:#f9dabb;
}
#divCenter {
    position: fixed;
    top: 150px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    background:#FFF0E1;
}

#divTopLeft {
	height:100%;
    float:left;
}

#divTopCenter {
	height:100%;
    overflow: hidden;
    text-align:center;
    font-size:50px;
    font-weight:bold;
    
}

#divTopRight {
	height:100%;
	line-height: 80px;
    float:right;
    width:250px;
    text-align:center;
    vertical-align: middle;
}

#spanDate {
  font-size:20px;
  font-weight:bold;
}
#spanTime {
  font-size:25px;
  font-weight:bold;
}

#divQInfor {
  font-family: 'Signika';
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: 70px;
  background-color:#3d3d3d;
  color:#ffde55;
  font-size: 40px;
  line-height: 70px;
  text-align:left;
}

#spanQInfor {
  margin-left:10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#divQStatus {
  position:relative;
  height:100%;
  width:85%;
  background:blue;
  float:left;
}

#divQWaiting {
  width:15%;
  position:relative;
  height:100%;
  float:right;
  background-color:#3d3d3d;
}


#divPatientIn {
  font-family: 'Signika';
  position:relative;
  height: 50px;
  line-height: 50px;
  background-color:#FFF0E1;
  font-size: 50px;
  color:#000000;
  text-align:center;
}

#divStatusMsg {
  /*position:relative;*/
  font-family: 'Signika';
  height:100%;
  text-align:center;
  background-color:#FFF0E1;
  /*font-size: 50px;*/
  color:#000000;
  /*line-height: 500px;*/
}

#divStatusMsg span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#divPatientIn span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#divBottomMsg
{
    display:block;
    position:absolute;
    right:0;
    white-space: nowrap;
    overflow: hidden;
    font-size:30px;
    color:red;
}
.table-striped>tbody>tr:nth-child(odd){
/*     background-color: #E8ECF5; */
    background-color: #595959;
}

.table-striped>tbody>tr:nth-child(even){
/*     background-color: #D0D0D0; */
background-color: #595959;
}

/*.table th {
  text-align: center;
}

.table>tbody>tr>td {
	    color: white;
      text-align: center;
}*/

th {
/*     background-color:#e5b443; */
background-color:#3d3d3d;
    color:#ffde55;
}

td {

	color:#fffffff;
}

/*bootstrap buttons*/
.btn {
  font-size: 50px;
  width:80px;
  height:80px;
  border: 2px solid #000000;
  padding: 3px 3px;
  border-radius: 40px;
}

.btn-status0 {
  background:#ade0ad;
}

.btn-status2 {
  background:#fff800;
}

.btn-status3 {
  background:#ffb600;
}

.btn-status4 {
  background:#ab1c00;
}




.time_stamp {
  margin:10 20 10 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
/*   background:#34767f; */
/*   background:#51250c; */
  padding:10px;

  
/* 
-moz-border-radius: 0.8em;     /* for mozilla-based browsers */
  -webkit-border-radius: 0.8em;  /* for webkit-based browsers */
  border-radius: 0.8em;          /* theoretically for *all* browsers dependant on implementation of CSS3 */
  border: 0px;
 */

  color:#51250c;
 
   
}

.logo {
	padding:10px;
  max-width: 100%;
  max-height: 100%;
  height:80px;
  background-color: transparent;
/*     background-image:url('../img/LesQLogo.png'); */
}

.status{
	 width: 40px;
     height: 40px;
}

/*#move
{
  display:block;
  position:absolute;
  right:0;
  white-space: nowrap;
  overflow: hidden;
  font-size:20px;
  color:red;
}*/

.tipitaka { 
          font-family: "Tipitaka";
      }